<html>
	<head>
		<title>login page</title>
	</head>
	<body>
		<font color="red"><h2>Login Page</h2></font>
		<form action='/test_login/' method="GET">
			<table>
				<tr><th>User Name</th><td><input type="text" name='uname'></td></tr>
				<tr><th>Password</th><td><input type="password" name='pwd'></td></tr>
				<tr><td><input type="submit" value="Login"></td><td><input type="reset" value="Reset"></td></tr>
			</table>
			Click &nbsp; <a href='\register\'>HERE</a> &nbsp; to Register......
		</form>		
	</body>
</html>