<html>
	<head>
		<title>Registration Page</title>
	</head>
	<body>
	<h1>Hi {{username}}, welcome to application</h1>
			<table>
				<tr><th>Username</th><td><input type="text" value="{{username}}"></td></tr>
				<tr><th>Employee_Identity</th><td><input type="text" value="{{Employee_Identity}}"></td></tr>
				<tr><th>Password</th><td><input type="password" value="{{password}}"></td></tr>
				<tr><th>Email</th><td><input type="text" value="{{email}}"></td></tr>
				<tr><th>Mobile_Number</th><td><input type="text" value="{{mobile_number}}"></td></tr>
				<tr><th>DateofBirth</th><td><input type="text" value="{{dateofbirth}}"></td></tr>
				<tr><th>Salary</th><td><input type="text" value="{{salary}}"></td></tr>
			</table>
	</body>
</html>